.menu{
    padding-left: 10px;
    .inp{
      width: 150px;
      height: 28px;
      line-height: 28px;
      vertical-align: bottom;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding-left: 3px;
    }
    .btn{
        background-color: #1890ff;
        border-color: #1890ff;
        color: #ffffff;
        height: 28px;
        line-height: 1.15;
        padding: 0 15px;
        border-radius: 5px;
        border: 1px solid transparent;
        vertical-align: bottom;
        cursor: pointer;
    }
    .text_info{
      display: inline-block;
      font-size: 14px;
      text-decoration: none;
      background-color: #1890ff;
      border-color: #1890ff;
      color: #ffffff;
      height: 26px;
      line-height: 26px;
      padding: 0 15px;
      border-radius: 5px;
      border: 1px solid transparent;
      vertical-align: bottom;
      cursor: pointer;
    }
  }